$primary-color: #ffff;
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400&display=swap");
body {
  background-color: black;
  margin: 0;
  font-family: "Oswald", sans-serif;
}
* {
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: white;
}
.body {
  // background-image: url(/src/assets/background.jpg);
  height: 100%;
  color: whitesmoke;
  background-size: 80vw;
  background-repeat: no-repeat;
  background-color: white;
  background-position: bottom;
  font-family: "Oswald", sans-serif;
}
.mAContainer {
  // height: calc(100vh - 300px);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  &_title {
    color: white;
    margin: 10px 0px 60px 0px;
    font-size: 40pt;
  }
  &_connect {
    background-color: #ffa500;
    font-size: 15pt;
    color: white;
    outline: none;
    border: none;
    border-radius: 5px;
    padding: 20px 40px;
    transition: all 0.3s ease-in-out;
    margin-bottom: 20px;
    &:hover {
      color: rgba(255, 255, 255, 0.809);
      cursor: pointer;
      transform: translateY(3px);
    }
  }
}

.errorContainer {
  position: fixed;
  color: red;
  margin: 0;
  right: 30;
  bottom: 30;
  background-color: transparent;
  p {
    margin: 0;
  }
}

.bottom {
  padding: 0px 30px;
  &__header {
    text-align: center;
    padding: 20px 0px;
    // height: 100px;
    p {
      color: white;
      letter-spacing: 1.5px;
      font-weight: 100;
      font-size: 15pt;
      margin: 0;
      a {
        color: #ffa500;
        text-decoration: none;
      }
    }
  }
  &__row {
    height: 100px;
    border-top: solid 1.5px white;
    display: flex;
    &__conditions {
      width: 33.3%;
      color: white;
      display: flex;
      p {
        margin-top: auto;
        margin-bottom: auto;
        font-weight: 100;
        letter-spacing: 1.5px;
        a {
          font-weight: 100;
          text-decoration: none;
          color: white;
        }
      }
    }
    &__logo {
      width: 33.3%;
      text-align: center;
      img {
        max-height: 100%;
      }
    }
    &__links {
      width: 33.3%;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      margin: 16px 0px;
      &--buttons {
        margin-top: auto;
        margin-bottom: auto;
        a {
          color: white;
        }
      }
    }
  }
}
div#root {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  // align-items: center;
  min-height: 100vh;
}
@media screen and (max-width: 1000px) {
  .bottom {
    padding: 0px 30px;

    &__header {
      text-align: center;
      // height: 100px;
      p {
        color: white;
        letter-spacing: 1.5px;
        font-weight: 100;
        font-size: 15pt;
        a {
          color: #ffa500;
          text-decoration: none;
        }
      }
    }
    &__row {
      height: auto;
      display: block;
      border-top: solid 1.5px white;
      &__conditions {
        width: 100%;
        color: white;
        text-align: center;
        margin-top: 10px;
        p {
          width: 100%;
          font-weight: 100;
          letter-spacing: 1.5px;
          a {
            font-weight: 100;
            text-decoration: none;
            color: white;
          }
        }
      }
      &__logo {
        width: 100%;
        text-align: center;
        img {
          max-height: 100%;
          max-width: 30%;
        }
      }
      &__links {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        &--buttons {
          margin-bottom: 30px;
          a {
            color: white;
          }
        }
      }
    }
  }
}
